@model ExperimentApp.Models.Participant
@Html.Hidden("TrustGaveSum", Model.TrustGaveSum)
@{
    ViewBag.Title = "Game B";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<h2></h2>
<div id="trustInstructions" dir="rtl" lang="he" style="font-size:large">
    <h1>משחק שני:</h1>
    <img height="500" src="~/Content/images/trust_instructions.png" style="float:left" ;>
    <div>

        <p>זהו משחק בין 2 משתתפים המתרחש בשני שלבים:</p>
        <p>
            בשלב הראשון- שני השחקנים סכום כסף כלשהו. השחקן הראשון מחליט כמה מתוך סכום זה הוא רוצה להציע לשחקן השני (אם בכלל).
        </p>
        <p> סכום זה יוכפל פי 3 ויועבר לשחקן השני, כלומר- השחקן השני יקבל פי 3 מהסכום שהשחקן הראשון הציע לו.</p>
        <p>
            בשלב השני- מגיע תורו של השחקן השני. הוא מחליט כמה כסף, מתוך הסכום שקיבל מהשחקן הראשון, הוא רוצה להעביר לשחקן הראשון בחזרה (אם בכלל).
        </p>
        <p>השחקן הראשון יקבל לידיו את הסכום שהשחקן השני החליט להעביר לו בחזרה.</p>
        <p>בהצלחה!</p>
    </div>
    <input type="button" id="waitBtn" style="float: right" ; value="לתחילת המשחק" onclick="show()"><br /><br />
    <div id="myGif" style="display:none"><img id="waitingGif" height="200" ; src="~/Content/Gifs/waiting.gif"></div>
    <p id="msg" style="display:none">מחכים לשחקן השני...</p>
</div>

<center id="waitPage" style="display:none" align="middle">
    <img id="waitingGif1" height="200" ; src="~/Content/Gifs/waiting.gif">
    <p dir="rtl" lang="he" id="msg1">מחכים להחלטת השחקן השני...</p>
</center>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.ExpOption)
    @Html.HiddenFor(model => model.EmotionalContent)
    @Html.HiddenFor(model => model.VideoPath)
    @Html.HiddenFor(model => model.VideoDataPath)
    @Html.HiddenFor(model => model.AudioPath)
    @Html.HiddenFor(model => model.AudioDataPath)
    @Html.HiddenFor(model => model.UltimatumGaveSum)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div id="inputField">
    <h1 id="youStart" dir="rtl" lang="he" style="display:none;color:red;font-size:x-large">נבחרת להיות השחקן הראשון!</h1>

    <fieldset id="subForm" style="display:none" dir="rtl" lang="he">
        <legend>כמה כסף ברצונך להציע?</legend>
        <div>
            <label for="proposal">סכום בש"ח (מספר שלם בין 0 ל- 20 ) </label>
        </div>
        <div class="editor field">
            @Html.TextBoxFor(model => model.TrustGaveSum, new { id = "propId" })
        </div>
        <div>
            <label>&nbsp;</label>
            <input id="submit" type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</div>
}

<script>

    function show() {
        document.getElementById("waitBtn").disabled = true;
        document.getElementById("myGif").style.display = "block";
        document.getElementById("msg").style.display = "block";
        setTimeout("hide()", 3000);  // 7 seconds
    }

    function hide() {
        document.getElementById("myGif").style.display = "none";
        document.getElementById("msg").style.display = "none";
        document.getElementById("subForm").style.display = "block";
        document.getElementById("youStart").style.display = "block";
        document.getElementById("waitBtn").style.display = "none"

    }

   $(window).load(function () {
        var submit = false;
        $('#submit').on('click', function (e) {
            var el = document.getElementById("propId").value;
            if (el < 0 || el > @Model.TrustReceivedSum || Math.floor(el) != el || el == "" || el.length == 0 || el == null) {
                alert("נא להזין מספר שלם בין 0 ל 20 ");
                return false;
            }else
            $('#trustInstructions').hide();
            $('#inputField').hide();
            $('#waitPage').show();
            setTimeout(function () {
                submit = true;
                $("#submit").trigger("click"); // if you want            
            }, 5000);
            if (!submit)
                e.preventDefault();
        });
    });

</script>