@model ExperimentApp.Models.Participant
@{
    ViewBag.Title = "Game A";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<html>
@*<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>*@
<body>

    <h2></h2>

    <div id="generalInstructions" dir="rtl" lang="he" style="font-size:large" ,"text-align:center">
        <p>כעת תשחק שני משחקים. </p>
        <p>אנו נצרף אותך לשחקן נוסף שגם הוא משתתף בניסוי במקביל אליך.</p>
        <p></p>
        <p>לפני כל משחק יופיעו הוראות. אנא קרא אותם בעיון ואם משהו לא מובן פנה למפעיל הניסוי לפני שתתקדם למשחק.</p>
        <b>במהלך הניסוי ישנה אפשרות להרוויח סכום כסף מסויים, בהתאם להחלטותיך ולהחלטות  השחקן השני.</b>
        <br />
        <b>בתום הניסוי תגלה את החלטות השחקן השני בשני המשחקים ותקבל ממפעיל הניסוי את סך הכסף שהרווחת.</b>
        <p>*ההוראות מנוסחות בלשון זכר אך מיועדות לנשים וגברים כאחד.</p>
        <input type="button" id="contBtn" style="float: right" ; value="המשך" onclick="showUltiInstructions()"><br /><br />
        <div id="myGif1" style="display:none"><img id="waitingGif1" height="200" ; src="~/Content/Gifs/waiting.gif"></div>
        <p id="msg1" style="display:none">מחכים לשחקן השני...</p>
    </div>
    <div id="ultiInstructions" style="display:none">
        <div dir="rtl" lang="he" style="font-size:large">
            <div dir="rtl" lang="he">
                <h1>משחק ראשון:</h1>
                <img height="500" src="~/Content/images/ultimatum_instructions.png" style="float:left" ;>
                <p>זהו משחק בין 2 משתתפים המתרחש בשלושה שלבים:</p>
                <p>בשלב הראשון - השחקן הראשון מקבל סכום כסף כלשהו.</p>
                <p>
                    בשלב השני - השחקן הראשון מחליט כמה כסף מתוך סכום זה הוא רוצה להציע לשחקן השני (אם בכלל).
                </p>
                <p> בשלב השלישי - בפני השחקן השני עומדות שתי אופציות: הסכמה או סירוב.</p>
                <p>אם יסכים - תבוצע הצעת השחקן הראשון. אם יסרב - שני השחקנים לא יקבלו דבר.</p>
                <p>בהצלחה!</p>
            </div>
            <input type="button" id="waitBtn" style="float: right" ; value="לתחילת המשחק" onclick="show()"><br /><br />
            <div id="myGif" style="display:none"><img id="waitingGif" height="200" ; src="~/Content/Gifs/waiting.gif"></div>
            <p id="msg" style="display:none">מחכים לשחקן השני...</p>
        </div>
    </div>

    <center id="waitPage" style="display:none" align="middle">
        <img id="waitingGif1" height="200" ; src="~/Content/Gifs/waiting.gif">
        <p dir="rtl" lang="he" id="msg1">מחכים להחלטת השחקן השני...</p>
    </center>
    <div id="youStart" style="display:none" dir="rtl" lang="he">
        <h1 style="color:red;font-size:x-large">נבחרת להיות השחקן הראשון!</h1>
        <b style="font-size:large">יש ברשותך 10 שקלים</b>
        <br />
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ExpOption)
        @Html.HiddenFor(model => model.EmotionalContent)
        @Html.HiddenFor(model => model.VideoPath)
        @Html.HiddenFor(model => model.VideoDataPath)
        @Html.HiddenFor(model => model.AudioPath)
        @Html.HiddenFor(model => model.AudioDataPath)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="inputField">


            <fieldset id="subForm" style="display:none" dir="rtl" lang="he">
                <legend>כמה כסף ברצונך להציע?</legend>
                <div>
                    <label for="proposal"> סכום בש"ח (מספר שלם בין 0 ל- 10) </label>
                </div>
                <div class="editor field">
                    @Html.TextBoxFor(model => model.UltimatumGaveSum, new { id = "propId" })
                </div>
                <div>
                    <label>&nbsp;</label>
                    <br />
                    <input id="submit" type="submit" value="Submit" class="submit" />
                </div>
            </fieldset>
        </div>
    }
</body>
</html>
<script>

    function show() {
        document.getElementById("waitBtn").disabled = true;
        document.getElementById("myGif").style.display = "block";
        document.getElementById("msg").style.display = "block";
        setTimeout("hide()", 2000);  // 5 seconds
    }

    function hide() {
        document.getElementById("myGif").style.display = "none";
        document.getElementById("msg").style.display = "none";
        document.getElementById("youStart").style.display = "block";
        document.getElementById("subForm").style.display = "block";
        document.getElementById("waitBtn").style.display = "none";
        }

    function showUltiInstructions() {
        document.getElementById("contBtn").disabled = true;
        document.getElementById("myGif1").style.display = "block";
        document.getElementById("msg1").style.display = "block";
        setTimeout("hideUltiInstructions()", 2000);  // 5 seconds
    }

    function hideUltiInstructions() {
        document.getElementById("generalInstructions").style.display = "none";
        document.getElementById("ultiInstructions").style.display = "block";
    }

    $(window).load(function () {
        var submit = false;
        $('#submit').on('click', function (e) {
            var el = document.getElementById("propId").value;
            if (el < 0 || el > @Model.UltimatumReceivedSum || Math.floor(el) != el || el == "" || el.length == 0 || el == null) {
                alert("נא להזין מספר שלם בין 0 ל 10 ");
                return false;
            }else
            $('#ultiInstructions').hide();
            $('#inputField').hide();
            $('#youStart').hide();
            $('#waitPage').show();
            setTimeout(function () {
                submit = true;
                $("#submit").trigger("click"); // if you want            
            }, 5000);
            if (!submit)
                e.preventDefault();
        });
    });

</script>
