@model ExperimentApp.Models.Participant
@Html.Hidden("TrustGaveSum", Model.TrustGaveSum)
@{
    ViewBag.Title = "TrustGame";
}
<h2>TrustGame</h2>
<div dir="rtl" lang="he">
    <p>כעת נשחק משחק נוסף:</p>
    <div>
        <p>נבחרת להיות השחקן המתחיל</p>
        <p>
            במשחק הזה,שוב שניכם מקבלים 20 שקלים. השחקן המתחיל מקבל החלטה כמה כסף להעביר לשחקן השני.
            הסכום ישולש- השחקן השני יקבל פי 3 מהסכום שהוחלט להעביר לו. כעת תורו של השחקן השני: הוא מחליט
            איזה סכום להעביר חזרה לשחקן הראשון. גם סכום זה ישולש, כלומר- השחקן הראשון יקבל פי 3 מהסכום שהשחקן
            השני החליט להעביר לו חזרה. שניכם תקבלו את הכסף בתום הניסוי.
        </p>

        <p>בהצלחה!</p>
    </div>
    <input type="button" id="waitBtn" style="float: right" ; value="מוכנים להתחיל" onclick="show()"><br><br>
    <div id="myGif" style="display:none"><img id="waitingGif" height="200" ; src="~/Content/giphy.gif"></div><br>
    <h1 id="msg" style="display:none">מחכים לשחקן השני...</h1>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <fieldset id="subForm" style="display:none" dir="rtl" lang="he">
        <legend>כמה כסף ברצונך לתת?</legend>
        <div>
            <label for="proposal">סכום בש"ח (מספר שלם) </label>
        </div>
        <div class="editor field">
            @Html.TextBoxFor(model => model.TrustGaveSum, new { id = "propId" })
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" onclick="return validate()" />
        </div>
    </fieldset>
}

<script type="text/javascript">

    window.addEventListener("DOMContentLoaded", function () {

        // Get reference to drop down
        var ddl = document.getElementById('quantitydropdownid');

        for (var i = 0; i < 21; i++) {
            var theOption = document.createElement("option");
            theOption.text = i;
            theOption.value = i;
            // If it is the first option, make it be selected
            i === 0 ? theOption.selected = "selected" : "";
            ddl.options[i] = theOption;
        }
    });

    function show() {
        document.getElementById("waitBtn").disabled = true;
        document.getElementById("myGif").style.display = "block";
        document.getElementById("msg").style.display = "block";
        setTimeout("hide()", 5000);  // 5 seconds
    }

    function hide() {
        document.getElementById("myGif").style.display = "none";
        document.getElementById("msg").style.display = "none";
        document.getElementById("subForm").style.display = "block"
    }

    function validate() {
        
        var e = document.getElementById("propId").value;
        if (e < 0 || e > @Model.TrustReceivedSum || Math.floor(e) != e ||e == "" || e.length == 0 || e == null) {
            alert("נא להזין מספר שלם בין 0 ל 20 ");
            return false;
        }
    }

</script>